NEXT_PUBLIC_SUPABASE_URL=https://vtuegggoruiowjxoiocd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ0dWVnZ2dvcnVpb3dqeG9pb2NkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3NDAwNDgsImV4cCI6MjA5NTMxNjA0OH0.BgDtitoWIPlxvGBslTNg9DKLQ_vEV6nGAZWgeHWcVUo